left_camera_raw
right_camera_raw
left_depth
right_depth
*.csv
left_camera_image_format.json
right_camera_image_format.json
left_camera_characteristics.json
right_camera_characteristics.json
*.mcap
data/